SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=aloosnackacustomerfeedback@gmail.com
SMTP_PASS=mgdeekkcbrylugyl
MAIL_FROM=ZUPPIO <aloosnackacustomerfeedback@gmail.com>
SESSION_SECRET=Zuppio_Snacks_Admin_Aloo_1402_Abcd 
ADMIN_EMAIL=aloosnackacustomerfeedback@gmail.com
ADMIN_PASSWORD=Air@aloo1702